.option {
  padding: 14px;
  margin-bottom: 16px;
  background: #ffffff;
  border: 2px solid #bebebe;
  border-radius: 4px;
}

.label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.leftContent {
  display: flex;
  align-items: center;
}

.rightContent {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.text1 {
  font-family: "Roboto";
  font-weight: 600;
  font-size: 16px;
  color: #3c4852;
}
.text2 {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  color: #3c4852;
}

.text3 {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 10px;
  text-align: center;
  color: #bebebe;
}

.disabled {
  border: 2px solid #bebebe;
  border-radius: 4px;
  background: #e7e7e7;
}

.disabled label p,
.disabled .text1 {
  color: #bebebe;
}

.disabled .radio {
  cursor: not-allowed;
  border-color: #e7e7e7;
  border-width: 4px;
  background-color: #bebebe;
}
.disabled .radio::before {
  content: "";
  position: absolute;
  top: -6px;
  left: -6px;
  width: calc(100% + 12px);
  height: calc(100% + 12px);
  border: 2px solid #bebebe; /* Outer border color for the disabled radio button */
  border-radius: 50%;
  box-sizing: border-box;
}

.selected {
  background: #d7eddd;
  border: 2px solid #47ba68;
  border-radius: 4px;
}

.radio {
  margin-right: 0.8rem;
  appearance: none;
  width: 26.67px;
  height: 26.67px;
  border: 2px solid #bebebe;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  position: relative;
}

.radio:checked {
  background: #47ba68;
  border-color: #47ba68;
}

.radio:checked::before {
  content: "";
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 6px;
  height: 12px;
  border: solid #ffffff;
  border-width: 0 3px 3px 0;
  border-radius: 1px;
  transform-origin: center;
  transition: transform 0.2s;
}

.radio:checked::before,
.radio:checked::after {
  opacity: 1;
  transform: translate(-50%, -50%) rotate(45deg) scale(1);
}

.background {
  float: left;
  background-color: #f77171;
  padding: 1px 29px;
  margin-left: 8px;
  border-radius: 0px 0px 4px 4px;
  position: relative;
  transform: translate(38px, -50px);
}

.backgroundText {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #ffffff;
}
.background2 {
  float: left;
  background-color: #47ba68;
  padding: 1px 25px;
  margin-left: 8px;
  border-radius: 0px 0px 4px 4px;
  position: relative;
  transform: translate(38px, -50px);
}

/* CALCULATIONS------------------------------------------------------------------------------- */

.line {
  margin-top: 28px;
  border-top: 2px solid #bebebe; /* Adjust color and thickness as desired */
  font-family: "Roboto";
  font-style: normal;
}

.container {
  display: flex;
  align-items: center;
  margin: 16px 24px;
}
.container1 {
  display: flex;
  align-items: center;
  margin: 10px 24px;
}
.container3 {
  display: flex;
  align-items: center;
  margin: 8px 24px;
}

.left {
  display: flex;
  align-items: center;
}

.right {
  margin-left: auto;
}

/* Card------------------------------------------------------------------------------- */

.card {
  background: linear-gradient(white, white) padding-box,
    linear-gradient(135deg, #de4313, #fec163) border-box;
  border: 2px solid #de4313;
  border-style: solid;
  border-color: transparent;
  border-radius: 8px;
}

.content {
  background: linear-gradient(135deg, #de431333, #fec16333);
  padding: 0.1px;
}

.offer_margin {
  transform: translateY(-10px);
}
.offer_icon {
  margin-right: 10px;
  filter: brightness(0) saturate(100%) invert(36%) sepia(84%) saturate(2922%)
    hue-rotate(354deg) brightness(104%) contrast(99%);
}
/* Card END------------------------------------------------------------------------------- */

.text4 {
  font-weight: 400;
  font-size: 16px;
  color: #3c4852;
}

.text5 {
  font-weight: 600;
  font-size: 16px;
  color: #de4313;
}

.text6 {
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  color: #de4313;
}

.text7 {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: #3c4852;
}

.text8 {
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0.03em;
  color: #3c4852;
}
