.content {
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin-top: 3rem;
}

.item {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
  color: white;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 100%;
}

.icon {
  margin-right: 4rem;
}

p {
  margin: 0;
}

.textcolor {
  color: #0096ff;
}
