.content_container {
  display: flex;
  padding: 4rem 6rem 3rem 8.5rem;
  background-image: url("../../assets/BackGround.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  min-height: 80vh;
}

.benefits {
  width: 64%;
}

.subscription {
  width: 36%;
}
