.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.85rem 6.66rem;
}

.left_container {
  display: flex;
  align-items: center;
}
.right_container {
  display: flex;
  align-items: center;
}
.link {
  all: unset;
  margin: 0 4rem;
  cursor: pointer;
}

.text {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}

.button {
  color: white;
  background: linear-gradient(266.79deg, #0048ff 4.63%, #0096ff 100%);
  border-radius: 52px;
  border: none;
  padding: 0.8rem 2.8rem;
  background-size: 200% auto;
  transition: background-position 0.3s ease;
  cursor: pointer;
}
.button:hover {
  background-position: 100% 0;
}
.button:active {
  background: linear-gradient(266.79deg, #0041e7 4.63%, #003e6a 100%);
}

@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    display: block;
    margin: 0.5rem 0.5rem;
  }

  .left_container {
    display: block;
    margin-bottom: 1rem;
    justify-content: center;
  }

  .right_container {
    justify-content: center;
  }

  .link {
    margin: 0 1rem;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .container {
    display: block;
    margin: 0.5rem 0.5rem;
  }

  .left_container {
    display: block;
    margin-bottom: 1rem;
    justify-content: center;
  }

  .right_container {
    justify-content: center;
  }

  .link {
    margin: 0 1rem;
  }
}

@media (max-width: 480px) {
  .container {
    display: block;
    margin: 0.5rem 0.5rem;
  }

  .left_container {
    display: block;
    justify-content: center;
  }
  .right_container {
    justify-content: center;
  }

  .link {
    margin: 0 1rem;
  }
}
